@using Albums3Layer.BBL.Models
@model IEnumerable<Review>

@foreach (var review in Model)
{
    <div>
        <h2>@review.Title</h2>
        <p>Rating: @review.Rating</p>
        <p>@review.Comment</p>
        <p>Reviewed by: @review.UserName</p>
    </div>
}
